*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    width: auto;
    height: 60px;
    background-color: white;
    margin: auto;
    display: flex;
    place-items: center;
    align-items: center;
   
}
#header{
    width: 950px;
    height: 58px;
    top: 8px;
    left: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-self: center;

}
ul{
    display: flex;
    justify-content: space-between;
    padding: 1px 1px;
    width: 300px;
}
li a {
    color: black;
    text-align:center;
    text-decoration: none;
}
#header button{
    height: 40px;
    background-color: aquamarine;
    border: none;
    border-radius: 5px
}
section #main{
    align-items: center;
    place-items: center;
    place-content: center;
    background-image: url(images/Gradient.png);
}
div #main{
    height: auto;
    width: 800px;
    place-content: center;
    
}
h1{
    font-size: 60px;
    text-align: center;
}
p{
    font-size: 15px;
}
#main button {
    height: 30px;
    border-radius: 5px;
    border: 4px;
}
#cont-but{
    background-color: aquamarine;
}
Section #master{
    align-self: center;
    place-self: center;
    width: 900px;
    height: 150px
    background-color: skyblue;
    
}
Form{
    position: absolute;
    bottom: 10%;
    backdrop-filter: blur(20px);
    padding: 20px;
    display: flex;
    gap: 3px;
}
Section #body{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 45%;
}
#about-page{
    height: 500px;
    width: 45%;
}




